<h1 id="toctitle">Text manipulation</h1>
<ul id="toc"/>

## Parts of code
### Statements, functions, arguments
Start with the very short Python program:

In [11]:
# interactive workbook in jupyter, can insert cells directly, cells run as a block ... and can work without the internet

# jupyter can also work for R, kind of like R markdown I think

In [ ]:
print("Hello World")

`print()` is the name of a **function** - note the parentheses.

`"Hello World"` is the function **arguments**. (just one argument, in this case)

The whole thing `print("Hello World")` is a **statement** (one instruction.  Most usually one statement == one line)

Things in quotes are strings (of characters) - either single or double is fine:

In [1]:
print("Hello world")

Hello world

In [4]:
print('Hello world')#gives you the same output as above

Hello world

In [3]:
print("She said, 'Hello world'") #how to quote using quotes

She said, 'Hello world'

### Comments
To include a line of text for humans to read, start with `#`. We call this a __comment__:

In [ ]:
# print a friendly greeting
print("Hello martin")

Some characters in Python strings have a special meaning: for example `\n` means _start a new line_.

In [5]:
# print the same greeting, over two lines
print("Hello\nworld")

Hello
world

### Variables
To store a bit of text to use later, we use a __variable__:

In [9]:
# store a DNA sequence in the variable my_dna
# cant start variable name with a number but can include number after (simular to R) 
my_dna = "ATGCGTA"

# now print the DNA sequence
print(my_dna)

# change the value of my_dna
my_dna = "TGGTCCA"

# print it again
print(my_dna)

my_dna #gives you the value you have assigned - only a factor of jupyter. pyhton doesnt tell you what its doing

ATGCGTA
TGGTCCA

'TGGTCCA'

Variable names can be whatever we want - this code is exactly the same as the previous one:

In [8]:
# store a DNA sequence in the variable banana
banana = "ATGCGTA"

# now print the DNA sequence
print(banana)

# change the value of banana
banana = "TGGTCCA"

# print it again
print(banana)

ATGCGTA
TGGTCCA

## Manipulating text (strings)
### Concatenation
We can join two strings together with `+`:

In [10]:
"AA" + "GGCC"

'AAGGCC'

__Note: One feature of these Python notebooks is that the last statement in a Python cell is auto-printed, which is why we could leave out the print() function above. However, the auto-printed output retains the quotes around the string. The output of print() does not.__

Anywhere we can use a string written with quotes (aka a **string literal**), we can also use a variable that stores a string:

In [12]:
upstream = "AAA"
my_dna = upstream + "ATGC"
my_dna

'AAAATGC'

In [13]:
upstream = "AAA"
downstream = "GGG"
my_dna = upstream + "ATGC" + downstream
my_dna

'AAAATGCGGG'

The result of concatenating two (or more) strings is also a string. You can use it directly in a function without assigning it to a variable.

In [14]:
print("Hello" + " " + "world") ## middle dashes gives the spaces

Hello world

### Lengths

To find the length of a string, use the `len()` function:

In [21]:
length_of_string=len("AGTC") #can assign length to variable
print(length_of_string)#prints length of string ... number 4 doesnt have quotes around i.e. it is an integer not a character

4

What you need to know about `len()`:

- `len()` is a function
- it takes one argument
- the argument has to be a string
- it returns the length of the string
- we have to do something with the returned value
- __the length is a number, not a string!__

Numbers and strings are different:

In [22]:
2 + 2

4.8

In [16]:
"abc" + "def"

'abcdef'

In [17]:
'2' + '2'

'22'

In [19]:
'2' + "abc"

'2abc'

### Converting between numbers and strings

`str()` will take a number and turn it into a string:

In [23]:
str(4) #with quotes

'4'

Note the quotes. 

We often want to do this so that we can print a number:

In [24]:
my_dna = "ATGCGAGT"
dna_length = len(my_dna)
print("length of the DNA sequence is " + str(dna_length)) ## both strings so merges them together

length of the DNA sequence is 8

`int()` will take a string and turn it into a number:

In [25]:
int("6") ## without quotes, converts 6 into an integer i.e. gets the number out of the string
#float is like int but can take decimals, the equivalent is double in R

6

We will see later why this is useful.

### Changing case

To turn a string into lower case, use a __method__ called `lower()`:

In [31]:
my_dna = "ATGC"

# make a version in lower case
my_dna.lower() ## always need the brakets, put the method AFTER the string  
#e.g. "whassap".upper()

'atgc'

Look closely at how this works:

- `lower()` is a __method__, a special type of __function__
- we write the name of the variable first, then a dot, then the method name, then any arguments in parentheses
- `lower()` has no arguments
- `lower()` only works on strings, not numbers
- __`lower()` doesn't change the variable, it returns a lower case version__

In [32]:
my_dna = "ATGC"

# print the variable
print("before: " + my_dna)

# run the lower method and store the result
lowercase_dna = my_dna.lower()
print(lowercase_dna) ##calling my.dna and reterns a different version of it, doesnt change the original string

# print the variable again
print("after: " + my_dna)

before: ATGC
atgc
after: ATGC

## Find and replace in strings

Use the `replace()` method:

In [33]:
protein = "vlspadktnv"
print(protein) 

# replace valine with tyrosine
print(protein.replace("v", "y")) #replaces v with y 

# we can replace more than one character
print(protein.replace("vls", "ymt")) #simualrly replaces vls with ymt

# the original variable is not affected
print(protein)

vlspadktnv
ylspadktny
ymtpadktnv
vlspadktnv

### Extracting part of a string

To get just part of a string, put square brackets after the variable name with the start and stop positions separated by a colon. 

We start counting at __zero__ rather than one.
Positions are __inclusive__ at the start and __exclusive__ at the end.

Get positions 3 to 5 of the protein:

In [34]:
protein = "vlspadktnv"
protein[3:5] ##from char 3 up to but not including 5

'pa'

To go to the end of the string, just leave out the stop position:

In [35]:
protein[5:]#start at 5 to the end of the string

'dktnv'

### Counting substrings

The `count()` method will tell you how many times a short string occurs inside a long one:

In [36]:
protein = "vlspadktnv"
# count amino acid residues
valine_count = protein.count('v')#counts how many times v occurs in protien 
lsp_count = protein.count('lsp')
tryptophan_count = protein.count('w')
 
# now print the counts
print("valines: " + str(valine_count))
print("lsp: " + str(lsp_count))
print("tryptophans: " + str(tryptophan_count))

valines: 2
lsp: 1
tryptophans: 0

### Finding positions of substrings

The `find()` will tell you the position of a short string inside a long one:

In [ ]:
protein = "vlspadktnv"
print(protein.find('kt'))
print(protein.find('w'))

Remember:

- we start counting from zero
- if the short string isn't there, we get `-1`

## Summary of all the things!

- Functions
    - `print()` for showing text on the screen
    - `len()` for finding the length of a string
    - `str()` for converting a number to a string
    - `int()` for converting a string to a number
- String methods
    - `upper()` for changing to upper case
    - `replace()` for changing parts of a string
    - `count()` for counting substrings
    - `find()` for locating substrings
- Types of things
    - string literals are always surrounded by quotes
    - numbers are always written without quotes
    - variables are written without quotes and can hold either
- Other tools
    - `+` can add numbers together (also `/`, `*` and `-`)
    - `[1:2]` can get parts of a string .... inclusive of first number and exclusive of last number
    - `\n` within a quoted string means start a new line
- Parts of code
    - function
    - method
    - arguments
    - statement
    - quotes
    - comments
    - variables
    - literals

---

## Exercises


### How to get the most out of the exercises

- **try to solve yourself before looking at solutions**
- don't worry if you don't finish
- if you can think of something more interesting/relevant, then do it
- exercise descriptions are often vague!
- substitute with problems from your own work
- break exercises down into small chunks and test
- day one exercises may be very slow...


### Calculating AT content

Here's a short DNA sequence:

`ACTGATCGATTACGTATAGTATTTGCTATCATACATATATATCGATGCGTTCAT`

Write a program that will print out the AT content of this DNA sequence. Hint: you can use normal mathematical symbols like add (`+`), subtract (`-`), multiply (`*`), divide (`/`) and parentheses to carry out calculations on numbers in Python.

In [120]:
seq = "ACTGATCGATTACGTATAGTATTTGCTATCATACATATATATCGATGCGTTCAT"
Acont=seq.count("A")
Tcont=seq.count("T")
print(Acont)
print(Tcont)

## or use AT_number = seq.count("A") + seq.count("T") to be more efficient

fulllen=len(seq)
print(fulllen)

ATcont=((Acont)+(Tcont))/(fulllen)
print("The AT content is:" + str(ATcont))

perc=ATcont*100
print("The AT content is:" + str(perc))


###### OR  #####
print(((seq.count("A")+seq.count("T"))/len(seq)))

16
21
54
The AT content is:0.6851851851851852
The AT content is:68.51851851851852
0.6851851851851852

### Complementing DNA

Here's a short DNA sequence:

`ACTGATCGATTACGTATAGTATTTGCTATCATACATATATATCGATGCGTTCAT`

Write a program that will print the complement of this sequence. (__Not the reverse complement!__)

In [123]:
seq = "ACTGATCGATTACGTATAGTATTTGCTATCATACATATATATCGATGCGTTCAT"

seq.lower().replace('a','T').replace('t','A').replace('g','C').replace('c','G') ## can do .replace one after the other for pipes
#output it a string

'TGACTAGCTAATGCATATCATAAACGATAGTATGTATATATAGCTACGCAAGTA'

### Restriction fragment lengths

Here's a short DNA sequence:

`ACTGATCGATTACGTATAGTAGAATTCTATCATACATATATATCGATGCGTTCAT`

The sequence contains a recognition site for the _EcoRI_ restriction enzyme, which cuts at the motif `G*AATTC` (the position of the cut is indicated by an asterisk). Write a program which will calculate the size of the two fragments that will be produced when the DNA sequence is digested with _EcoRI_.

In [131]:
##Restriction fragment lengths ##
seq = 'ACTGATCGATTACGTATAGTAGAATTCTATCATACATATATATCGATGCGTTCA'
print(len(seq))
res_site=int((seq.find('GAATTC')))

fragment_1=len(seq[res_site+1:])
fragment_2=len(seq[:res_site+1])

#checking correct for above
#seq[res_site+1:]
#seq[0:res_site+1]

print("The length of the second fragment is:" + str(fragment_1))
print("The length of the first fragment is:" + str(fragment_2))


###### OR ######

part1, part2 = seq.replace("GAATTC","G*AATTC").split('*') #then can just find the star and split then do the same as above
print(len(part1))
print(len(part2))

54
The length of the second fragment is:32
The length of the first fragment is:22
22
32

### Splicing out introns

Here's a short section of genomic DNA:

`ATCGATCGATCGATCGACTGACTAGTCATAGCTATGCATGTAGCTACTCGATCGATCGATCGATCGATCGATCGATCGATCGATCATGCTATCATCGATCGATATCGATGCATCGACTACTAT`

It comprises two exons and an intron. The first exon runs from the start of the sequence to base number 63 (starting counting from zero), and the second exon runs from base 91 (also counting from zero) to the end of the sequence. Write a program that will print just the coding regions of the DNA sequence.  

Write a program that will calculate what percentage of the DNA sequence is coding.

Write a program that will print out the original genomic DNA sequence with coding bases in uppercase and non-coding bases in lowercase.

In [114]:
##splicing out introns##
##Inclusive of left end and exclusive of the right end i.e. :63 WILL NOT include 63 so need to do :64
coding_seq='ATCGATCGATCGATCGACTGACTAGTCATAGCTATGCATGTAGCTACTCGATCGATCGATCGATCGATCGATCGATCGATCGATCATGCTATCATCGATCGATATCGATGCATCGACTACTAT'

exon_1=coding_seq[:64] #defines the coding region 1
exon_2=coding_seq[91:] #defines coding region 2


print("The coding regions are:"+exon_1+'and'+exon_2)#prints in readable format

The coding regions are:ATCGATCGATCGATCGACTGACTAGTCATAGCTATGCATGTAGCTACTCGATCGATCGATCGATandTCATCGATCGATATCGATGCATCGACTACTAT

In [115]:
percent_coding=((len(exon_1)+len(exon_2))/len(coding_seq))*100 #length of coding region div by the length of whole seq
print("The percentage of DNA that is the coding region is:" + str(percent_coding))

The percentage of DNA that is the coding region is:78.04878048780488

In [116]:

intron=coding_seq[65:91]
spliced=str(exon_1)+str(intron.lower())+str(exon_2) #lowercase upstream + coding seq + lowercase downstream
print("The original seq with the coding region in uppercase:"+ str(spliced))

The original seq with the coding region in uppercase:ATCGATCGATCGATCGACTGACTAGTCATAGCTATGCATGTAGCTACTCGATCGATCGATCGATgatcgatcgatcgatcgatcatgctaTCATCGATCGATATCGATGCATCGACTACTAT

In [110]:
##faff code

#len(coding_seq)
#coding_seq[:62]

#upstream=coding_seq[:62]
#downstream=coding_seq[92:]
#spliced=upstream.lower()+str(coding_seq)+downstream.lower()

#print(str(spliced))

len(exon_1)
len(exon_2)

32